<footer class="mt-5 py-3 bg-light text-center">
  <div class="container">
    <p class="mb-0">Buscador de Juegos de Mesa usando DBpedia &copy; {{currentYear}}</p>
    <p class="text-muted small mb-0">Datos proporcionados por DBpedia</p>
  </div>
</footer>