<div class="dropdown">
  <button 
    class="btn dropdown-toggle btn-outline-light" 
    type="button" 
    id="languageDropdown" 
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{#if (eq lang 'en')}}English{{/if}}
    {{#if (eq lang 'es')}}Español{{/if}}
    {{#if (eq lang 'pt')}}Português{{/if}}
    {{#if (eq lang 'de')}}Deutsch{{/if}}
    {{#if (eq lang 'fr')}}Français{{/if}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="?lang=en">English</a></li>
    <li><a class="dropdown-item" href="?lang=es">Español</a></li>
    <li><a class="dropdown-item" href="?lang=pt">Português</a></li>
    <li><a class="dropdown-item" href="?lang=de">Deutsch</a></li>
    <li><a class="dropdown-item" href="?lang=fr">Français</a></li>
  </ul>
</div>