<form action="/search" method="get" class="d-flex">
  <input 
    type="search" 
    name="q" 
    value="{{query}}" 
    class="form-control me-2" 
    placeholder="Buscar juegos (ej. Catan, Monopoly)..."
    required
  >
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>